*{
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Shrikhand', cursive;
}

#header{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#header img{
    width: 150px;
}

.sub-logo{
    display: flex;
    flex-direction: row;
}

#sub-logo{
    border: 0px solid grey;
    background-color: #eee;
    box-shadow: 1px -5px 5px #c4c4c4;
    display: flex;
    justify-content: center;
}

.sub-logo i{
    padding: 15px 15px 0 0;
}

